@import url("https://fonts.googleapis.com/css?family=Cutive+Mono|Lato|Raleway");

@black:             #000000;
@white:             #FFFFFF;

@ruby:              #E90000;
@sapphire:          #006EDB;
@emerald:           #00B919;
@opposite:          #777777;
@theme-colors:      ruby @ruby, sapphire @sapphire, emerald @emerald, opposite @opposite;

@font-intense:      'Lato', sans-serif;
@font-discreet:     'Raleway', sans-serif;
@font-flat:         'Cutive Mono', monospace;

* {
    font-family: @font-discreet;
    -webkit-box-sizing: border-box !important;
       -moz-box-sizing: border-box !important;
        -ms-box-sizing: border-box !important;
            box-sizing: border-box !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @font-intense;
    flex-basis: -webkit-available;
    flex-basis:    -moz-available;
    flex-basis:         available;
}

img.responsive {
    max-width: -webkit-max-content;
    max-width:    -moz-max-content;
    max-width:         max-content;
    width: 100%;
    height: auto;
}

.inner-expanded {
    padding: 4px 8px;
}

.outer-expanded {
    margin: 4px 8px;    
}

.btn {
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;

    font-size: 1em;
    padding: .3em .6em;
    text-decoration: none;
    background-color: darken(@white, 5%);
    border: solid @black 1px;

    &.round {
        border-radius: 1000px;
    }

    &.empty {
        background-color: @white;

        &:hover {
            color: @black;
        }
        
        &:active {
            background-color: lighten(@white, 50%);
            color: lighten(@black, 10%);
        }
    }

    &.link {
        background-color: @white;
        border: none;

        &:hover {
            background-color: @white;
            text-decoration: underline;
            cursor: pointer;
        }

        &:active {
            color: lighten(@black, 50%);
        }
    }

    &:hover {
        background-color: darken(@white, 10%);
        text-decoration: none;
    }

    &:active {
        background-color: lighten(@black, 70%);
    }
}

.content {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;

    &.boxed {
        max-width: 1200px;
        margin: 0 auto;
    }
}

table {
    border-spacing: 0;

    td {
        padding: 2px 4px;
    }

    thead {
        font-weight: bold;
        background-color: #DFDFDF;
    }

    tbody {
        background-color: #FFFFFF;

        tr:nth-child(even) {
            background-color: #EFEFEF;
        }
    }
}

.menu {
    font-family: @font-intense;

    &.fill {
        width: 100%;
    }

    ul {
        padding-left: 0px;

        li {
            list-style: none;
            padding: 4px;
            
            &:hover {
                background-color: darken(@white, 10%);
            }
        }
    }

    &.inline ul li {
        display: inline-flex;
        width: -webkit-max-content;
        width:    -moz-max-content;
        width:         max-content;        

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.for(@i, 8) {
    .pillar-@{i} {
        float: left;
        max-width: 100%;
        min-width: 100%;
        padding: 4px 8px;
    }
}

@media (max-width: 420px) {
    .for(@i, 1) {
        .pillar-@{i} {
            max-width: @i * 100% / 1;
            min-width: @i * 100% / 1;
        }
    }
}

@media (min-width: 421px) and (max-width: 840px) {
    .for(@i, 4) {
        .pillar-@{i} {
            max-width: @i * 100% / 4;
            min-width: @i * 100% / 4;
        }
    }
}

@media (min-width: 841px) {
    .for(@i, 8) {
        .pillar-@{i} {
            max-width: @i * 100% / 8;
            min-width: @i * 100% / 8;
        }
    }
}

.for-each(@theme in @theme-colors) {
    @key:       at(@theme, 1);
    @value:     at(@theme, 2);

    body&.@{key} {
        h1, h2, h3, h4, h5, h6 {
            color: @value;
            
            &:hover {
                color: darken(@value, 10%);
            }
        }

        .btn {
            color: @white;
            background-color: lighten(@value, 5%);
            border: solid @value 1px;
        
            &.empty {
                color: @value;
                background-color: @white;

                &:hover {
                    color: @white;
                }
                
                &:active {
                    background-color: lighten(@value, 50%);
                    color: darken(@value, 50%);
                }
            }
        
            &.link {
                border: none;
                color: @value;
                background-color: @white;
        
                &:hover {
                    color: @value;
                    background-color: @white;
                }

                &:active {
                    color: darken(@value, 50%);
                }
            }
        
            &:hover {
                background-color: @value;
            }

            &:active {
                background-color: darken(@value, 10%);
            }
        }

        table {
            thead {
                color: @white;
                background-color: darken(@value, 20%);
            }
        
            tbody {
                tr:nth-child(even) {
                    background-color: fade(@value, 20%);
                }
            }
        }

        .menu {
            color: @white;
            background-color: darken(@value, 15%);

            ul {
                li {
                    &:hover {
                        color: @white;
                        background-color: darken(@value, 1%);
                    }
                }
            }
        }
    }
}